@import "../../lib/styles/properties.css";

.PostHeader,
.CategoryHeader,
.RepostHeader {
  position: relative;
  height: 60px;
  font-size: 14px;
  color: #aaa;
}

.PostHeaderAuthor,
.CategoryHeaderAuthor,
.RepostHeaderAuthor,
.CategoryHeaderCategory,
.PostDetailHeaderUsername,
.OwnPostTools,
.RepostHeaderReposter {
  position: relative;
}

.PostHeaderAuthor,
.RepostHeaderAuthor,
.CategoryHeaderAuthor,
.PostHeader .RelationshipContainer,
.CategoryHeader .RelationshipContainer,
.RepostHeader .RelationshipContainer,
.OwnPostTools {
  display: inline-block;
  vertical-align: middle;
}

.PostHeaderAuthor,
.CategoryHeaderAuthor,
.RepostHeaderAuthor {
  max-width: calc(100% - 80px);
}

.PostDetail .isOwnPost .PostHeaderAuthor,
.PostDetail .isOwnPost .RepostHeaderAuthor {
  max-width: calc(100% - 120px);
}

.PostHeader .RelationshipContainer,
.CategoryHeader .RelationshipContainer,
.RepostHeader .RelationshipContainer {
  margin-top: -2px;
  margin-left: 10px;
}

.PostHeaderLink {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.PostHeaderAuthor {
  padding-left: 40px;
  line-height: 60px;
}

.PostDetail .PostHeader > .PostHeaderAuthor {
  line-height: 45px;
}

.CategoryHeaderAuthor,
.RepostHeaderAuthor {
  padding-left: 40px;
  line-height: 45px;
}

.CategoryHeaderCategory,
.PostDetailHeaderUsername,
.RepostHeaderReposter {
  max-width: calc(100% - 120px);
  margin-top: -12px;
  margin-left: 40px;
  line-height: 15px;
}

.PostDetail .isOwnPost .PostDetailHeaderUsername,
.PostDetail .isOwnPost .RepostHeaderReposter {
  max-width: calc(100% - 160px);
}

.CategoryHeaderCategoryName {
  text-decoration: underline;
}

.PostHeaderAuthorName {
  display: inline-block;
  margin-right: 15px;
  color: #000;
  vertical-align: middle;
}

.no-touch .PostHeaderLink:hover {
  color: #535353;
}

.no-touch .PostHeaderLink:hover .PostHeaderAuthorName {
  color: currentColor;
}

.PostHeaderTools {
  position: absolute;
  top: 20px;
  right: 0;
}

.PostDetailAsideTop .PostHeaderTools {
  right: 20px;
}

.PostHeaderTools > a,
.PostHeaderTools > span {
  float: right;
}

.PostHeaderTools .PostTool > button {
  padding-right: 5px;
  padding-left: 5px;
}

.PostHeaderTools .PostTool .SVGIcon {
  transform: scale(1.5);
}

.PostHeaderTools .SVGIcon > g {
  stroke-width: 0.9375;
}

.PostHeaderTools .SVGIcon line {
  stroke-width: 1;
}

.PostHeaderTimeAgoLink {
  padding-left: 5px;
}

.no-touch .PostHeaderTimeAgoLink:hover {
  color: #535353;
}

/* Weird layout for reposts headers when in a UserDetail template */
.RepostHeader.inUserDetail > .RepostHeaderReposter {
  position: absolute;
  top: 32px;
  left: -40px;
  z-index: 2;
}

.RepostHeader.inUserDetail > .RepostHeaderReposter .DraggableUsername {
  display: none;
}

.RepostHeader.inUserDetail > .CategoryHeaderAuthor,
.RepostHeader.inUserDetail > .RepostHeaderAuthor {
  padding-left: 65px;
  line-height: 60px;
}

/* MIN WIDTH!!! */
@media (--break-2) {
  .PostHeader,
  .CategoryHeader,
  .RepostHeader {
    height: 80px;
  }

  .PostHeaderAuthor {
    padding-left: 60px;
    line-height: 80px;
  }

  .PostDetail .PostHeader > .PostHeaderAuthor {
    line-height: 60px;
  }

  .CategoryHeaderAuthor,
  .RepostHeaderAuthor {
    padding-left: 60px;
    line-height: 60px;
  }

  .CategoryHeaderCategory,
  .PostDetailHeaderUsername,
  .RepostHeaderReposter {
    margin-top: -20px;
    margin-left: 60px;
    line-height: 20px;
  }

  .PostHeaderTools {
    top: 30px;
  }

  .RepostHeader.inUserDetail > .CategoryHeaderAuthor,
  .RepostHeader.inUserDetail > .RepostHeaderAuthor {
    padding-left: 75px;
    line-height: 80px;
  }

  .RepostHeader.inUserDetail > .RepostHeaderReposter {
    top: 52px;
    left: -60px;
  }

}

@media (--break-3) {
  .Posts.asList .PostHeaderTimeAgoLink {
    display: none;
  }
}

/* // Don't show the relationship buttons in these specific conditions */
/* stylelint-disable selector-max-compound-selectors, selector-max-specificity */
.Following.MainView .PostHeader .RelationshipContainer,
.UserDetail.MainView .PostHeader .RelationshipContainer[data-priority="friend"],
.UserDetail.MainView .PostHeader .RelationshipContainer[data-priority="noise"],
.UserDetail.MainView .PostHeader .RelationshipContainer[data-priority="self"] {
  display: none;
}
/* stylelint-enable selector-max-compound-selectors, selector-max-specificity */

/* // MAX WIDTH!!! */
@media (--break-2-max) {
  .Posts.asGrid .PostHeaderTimeAgoLink,
  .Posts.asGrid .PostHeader .RelationshipContainer,
  .Posts.asGrid .CategoryHeader .RelationshipContainer,
  .Posts.asGrid .RepostHeader .RelationshipContainer {
    display: none;
  }

  .Posts.asGrid .PostHeaderAuthor,
  .Posts.asGrid .CategoryHeaderAuthor,
  .Posts.asGrid .CategoryHeaderCategory,
  .Posts.asGrid .RepostHeaderAuthor,
  .Posts.asGrid .RepostHeaderReposter {
    max-width: 100%;
  }
}

