@import "../../lib/styles/properties.css";

.MainView {
  background-color: #fff;
}

.isModalActive .MainView {
  pointer-events: none;
}

.isOmnibarActive .MainView {
  padding-top: 0;
}

.PostDetail.MainView {
  padding-bottom: 30px;
}

.RelatedPostsTitle {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #aaa;
}

/* // MAX-WIDTH! */
@media (--break-2-max) {
  .isOnboardingView ~ .MainView {
    margin-top: 120px;
  }

  .isOmnibarActive .MainView,
  .isProfileMenuActive ~ .MainView {
    display: none;
  }

  .isLoggedOut .ArtistInvites.MainView,
  .isLoggedOut .Editorial.MainView {
    margin-top: 20px;
  }
}

@media (--break-2) {
  .Authentication.MainView {
    padding-top: 0;
  }

  .RelatedPostsTitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .TabListStreamContainer + .RelatedPostsStreamContainer .RelatedPostsTitle {
    margin-top: 45px;
  }

  .isOmnibarActive .Omnibar.isFullScreen ~ .MainView {
    display: none;
  }
}

@media (--break-3) {
  .isOnboardingView ~ .MainView {
    padding-bottom: 80px;
  }
}

