@import "../../lib/styles/properties.css";

.Search .FormControl {
  max-width: none;
}

.Search .SearchControl .FormControlInput {
  @apply --sanserif-black;
  font-size: 24px;
}

.Search .SearchControl .FormControlLabel {
  display: none;
}

.Search .SearchTabList {
  margin-top: 18px;
}

.Search .SearchTabList button {
  width: 50%;
  padding-bottom: 10px;
  margin: 0;
  font-size: 14px;
}

.Search .LabelTab::after {
  width: 100%;
  background-color: #aaa;
}

.Search .LabelTab.isActive::after,
.Search .LabelTab:active::after {
  background-color: #000;
}

.Search .FormControlInput {
  border-bottom: 0;
}

.Search .SearchControl {
  padding: 10px 10px 10px 60px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.Search .SearchIcon g {
  stroke: #aaa;
}

