@import "../../lib/styles/properties.css";

.isDragging,
.isDragging .editor-block {
  user-select: none;
}

.editorWrapper {
  max-width: 840px;
}

.editor {
  position: relative;
  font-size: 14px;
  color: #000;
}

.editor::before {
  position: absolute;
  top: 30px;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-right-color: #e5e5e5;
  transition: border-color var(--speed) ease;
}

.editor.LaunchCommentEditorButton.isComment::before {
  border-right-color: #000;
}

.Omnibar > .editorWrapper {
  padding: 20px;
  margin: 0 auto;
}

.Omnibar > .editor::before {
  display: none;
}

.editor-region {
  min-height: 100px;
  padding: 20px;
  background-color: #e5e5e5;
  transition: background-color var(--speed) ease;
}

.editor-actions {
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  text-align: right;
  background-color: #fff;
}

.editor.isComment {
  margin-top: 10px;
}

.editor.isComment::before {
  display: none;
}

.PostDetail .editor.isComment {
  margin-top: 43px;
}

/* // "Say Ello" placeholder text */
.editor::after {
  position: absolute;
  top: 51px;
  left: 41px;
  color: #999;
  pointer-events: none;
  content: attr(data-placeholder);
}

.editor.hasContent::after {
  display: none;
}

.editor.isComment::after {
  top: 91px;
  left: 41px;
}

/* // editor has a mention - turn background yellow */
.editor.hasMention .editor-region {
  background-color: #ffc;
}

.editor.hasMention::before {
  border-right-color: #ffc;
}

/* // editor is dragged over with a droppable element - turn background green */
.editor.hasDragOver::before {
  border-right-color: #cfc;
}

.editor.hasDragOver > .editor-region {
  background-color: #cfc;
}

.editor-block {
  position: relative;
}

.editable {
  position: relative;
  min-height: 60px;
  padding: 30px 20px;
  white-space: pre-wrap;
  word-break: break-word; /* stylelint-disable-line */
  border: 1px dashed #666;
  outline: 0; /* stylelint-disable-line */
}

.editor.withQuickEmoji .editable {
  padding-right: 30px;
}

.editor-block.readonly {
  padding: 20px;
  white-space: pre-wrap;
  word-break: break-word; /* stylelint-disable-line */
  border: 1px solid #aaa;
}

/* // .editor-block.reposted-content [contenteditable="false"] */
/* //   border: 0 */
/* //   padding: 0 */

.editor-block + .editor-block {
  margin-top: 20px;
}

.DragBlock {
  position: absolute;
  right: 20px;
  left: 20px;
  z-index: 2;
}

.Omnibar .DragBlock {
  right: 40px;
  left: 40px;
}

.editor.isComment .DragBlock {
  left: 20px;
}

.RepostBlockLabel {
  margin-bottom: 10px;
}

@media (--break-2) {
  .editor.isComment {
    max-width: 640px;
    padding-left: 60px;
  }

  .editor.isComment::before {
    top: 10px;
    left: 40px;
    display: block;
  }

  .editor.hasContent::after {
    display: none;
  }

  .editor.isComment::after {
    top: 51px;
    left: 101px;
  }

  .editor.isComment .DragBlock {
    left: 80px;
  }

  .Omnibar > .editorWrapper {
    margin-top: 40px;
  }

  /* stylelint-disable selector-max-compound-selectors, selector-max-specificity, selector-no-qualifying-type */
  body.isOmnibarActive .Omnibar.isFullScreen > .editor {
    max-width: none;
    padding-right: 40px;
  }

  body.isOmnibarActive .Omnibar.isFullScreen > .editor .editor-region {
    min-height: calc(100vh - 100px);
  }
  /* stylelint-enable selector-max-compound-selectors, selector-max-specificity, selector-no-qualifying-type */
}

/* // ------------------------------------- */
/* // This should become a `ZeroStateEditor` at some point, */
/* // but waiting for the editor API to settle a little more */

.ZeroState .editor {
  color: #666;
}

.ZeroState .editor::before {
  display: none;
}

.ZeroState .editor-region {
  min-height: 60px;
}

.ZeroState .editable {
  min-height: 0;
  padding: 0;
  border: 0;
}

.ZeroState .editor.hasMention .editor-region {
  background-color: #e5e5e5;
}

.ZeroState .PostActionButton {
  color: #aaa;
  border: 1px solid currentColor;
}

.ZeroState .PostActionButton:not(.forPost) {
  display: none;
}

.ZeroState .PostActionButton.forPost {
  width: 85px;
}

