@import "../../lib/styles/properties.css";

.isDragging,
.isDragging .editor-block {
  user-select: none;
}

.editor {
  position: relative;
  font-size: 14px;
  color: #000;
}

.editor-region {
  min-height: 290px;
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: background-color var(--speed) ease;
}

.editor-actions {
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  text-align: right;
  background-color: #fff;
}

.editor.isComment {
  margin-top: 10px;
}

.editor.isComment .editor-region {
  min-height: 100px;
}

.PostDetail .editor.isComment {
  margin-top: 43px;
}

/* // "Say Ello" placeholder text */
.editor::after {
  position: absolute;
  top: 41px;
  left: 21px;
  color: #999;
  pointer-events: none;
  content: attr(data-placeholder);
}

.editor.hasContent::after {
  display: none;
}

.editor.isComment::after {
  top: 81px;
  left: 21px;
}

/* // editor is dragged over with a droppable element - turn background green */
.editor.hasDragOver > .editor-region {
  background-color: #cfc;
}

.editor-block {
  position: relative;
}

.editor-block:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.editable {
  position: relative;
  min-height: 60px;
  padding: 40px 0 20px;
  margin: 0 20px;
  white-space: pre-wrap;
  word-break: break-word; /* stylelint-disable-line */
  outline: 0; /* stylelint-disable-line */
}

.editor.withQuickEmoji .editable {
  padding-right: 30px;
}

.editor-block.readonly {
  padding: 40px;
  white-space: pre-wrap;
  word-break: break-word; /* stylelint-disable-line */
  background: #e5e5e5;
}

.DragBlock {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  background: #e5e5e5;
  border-radius: 5px;
}

.RepostBlockLabel {
  margin-bottom: 10px;
}

@media (--break-2) {
  .editable {
    padding: 40px 0;
    margin: 0 40px;
  }

  .editor.isComment {
    max-width: 640px;
    padding-left: 60px;
  }

  .editor::after {
    left: 41px;
  }

  .editor.hasContent::after {
    display: none;
  }

  .editor.isComment::after {
    top: 41px;
    left: 101px;
  }

  .editor.isComment .DragBlock {
    left: 80px;
  }

  /* stylelint-disable selector-max-compound-selectors, selector-max-specificity, selector-no-qualifying-type */
  body.isOmnibarActive .Omnibar.isFullScreen > .editor {
    max-width: none;
    padding-right: 40px;
  }

  body.isOmnibarActive .Omnibar.isFullScreen > .editor .editor-region {
    min-height: calc(100vh - 100px);
  }
  /* stylelint-enable selector-max-compound-selectors, selector-max-specificity, selector-no-qualifying-type */
}

/* // ------------------------------------- */
/* // This should become a `ZeroStateEditor` at some point, */
/* // but waiting for the editor API to settle a little more */

.ZeroState .editor {
  color: #666;
}

.ZeroState .editor-region {
  min-height: 60px;
}

.ZeroState .editable {
  min-height: 0;
  padding: 0;
  border: 0;
}

.ZeroState .PostActionButton {
  color: #aaa;
  border: 1px solid currentColor;
}

.ZeroState .PostActionButton:not(.forPost) {
  display: none;
}

.ZeroState .PostActionButton.forPost {
  width: 85px;
}

