@import "../../lib/styles/properties.css";

.Paginator {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  font-size: 14px;
  color: #aaa;
  text-align: center;
  background-color: transparent;
  transition: transform var(--speed) var(--ease), height var(--speed) var(--ease), background-color var(--speed) var(--ease);
  transform: translate3d(0, 100%, 0);
}

.Paginator.isCentered {
  margin-right: auto !important;
  margin-left: auto !important;
}

.Paginator.isBusy.NotificationReload {
  position: relative;
  bottom: auto;
  margin-top: 15px;
}

.Paginator.isBusy {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
}

.Paginator .ElloMark {
  transform: scale(0);
}

.PaginatorMessage {
  margin-left: 10px;
}

/* // Position to the bottom for post detail */
.TabListStreamContainer .Paginator,
.ArtistInvites .Paginator,
.ArtistInvitesDetail .Paginator,
.Editorial .Paginator,
.BlockedUsers .Paginator,
.MutedUsers .Paginator {
  position: static;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  line-height: 40px;
  color: #fff;
  vertical-align: middle;
  background-color: #aaa;
  border-radius: 5px;
  transform: none;
}

.no-touch .TabListStreamContainer .Paginator:hover,
.no-touch .ArtistInvites .Paginator:hover,
.no-touch .ArtistInvitesDetail .Paginator:hover,
.no-touch .Editorial .Paginator:hover,
.no-touch .BlockedUsers .Paginator:hover,
.no-touch .MutedUsers .Paginator:hover {
  background-color: #000;
}

.BlockedUsers .Paginator,
.MutedUsers .Paginator {
  margin-bottom: 30px;
}

.TabListStreamContainer .Paginator {
  max-width: 580px;
}

.ArtistInvites .Paginator,
.ArtistInvitesDetail .Paginator,
.Editorial .Paginator {
  width: calc(100% - 20px);
  max-width: 420px;
  margin-top: 0;
  margin-bottom: 60px;
}

.inEditorial .Paginator {
  display: none;
  margin-bottom: 0;
}

.ArtistInvites .Paginator button,
.ArtistInvitesDetail .Paginator button,
.Editorial .Paginator button {
  width: 100%;
}

.TabListStreamContainer .Paginator button {
  width: calc(100% - 40px);
}

.TabListStreamContainer .Paginator:not(.isBusy) .ElloMark,
.ArtistInvites .Paginator:not(.isBusy) .ElloMark,
.ArtistInvitesDetail .Paginator:not(.isBusy) .ElloMark,
.Editorial .Paginator:not(.isBusy) .ElloMark,
.BlockedUsers .Paginator:not(.isBusy) .ElloMark,
.MutedUsers .Paginator:not(.isBusy) .ElloMark {
  display: none;
}

@media (--break-2) {
  .BlockedUsers .Paginator,
  .MutedUsers .Paginator {
    margin-top: 60px;
  }
}

